<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <style>
            .etiquette{display: inline-block; width: 150px; margin-bottom: 5px;}
        </style>
        <title>ProduitSuppressionMySQL.html</title>
    </head>

    <body>
        <h3>Suppression produit (MySQL)</h3>
        <form method="post" action="/suppressionValidationWithSelect">
            <label class="etiquette">D&eacute;signation</label>
            <select name="id_produit">
				<% produits.forEach(function(produit) { %>
					<option value="<%= produit.id_produit %>"><%= produit.designation %></option>
				<% }); %>
			</select>
            <input type="submit" value="Valider" id="btValider" />
        </form>
        <p><%=message %></p>
        <p><a href="/">Accueil</a></p>
    </body>
</html>
